{% extends 'rango/base.html' %}

{% block title %}About{% endblock %}

{% block header_block %}
	
    <h1>It's all about...</h1>
    <p style="padding-left: 6px;">the crayons man! 
    So many 
	    <span style="color:red;">c</span>
	    <span style="color:orange;">o</span>
	    <span style="color:yellow;">l</span>
	    <span style="color:green;">o</span>
	    <span style="color:blue;">r</span>
	    <span style="color:purple;">s</span>
    !</p>
    
{% endblock %}    
    
{% block body_block %}
	<section>
		<p>You have visited this site {{ visits }} time!
		<img src="/media/img/crayons_lg.jpg" style="width:100%;"/>
	</section>
{% endblock %}