{% extends 'rango/base.html' %}

{% block title %}About{% endblock %}

{% block header_block %}
	
    <h1>It's all about...</h1>
    <p style="padding-left: 6px;">the crayons man! 
    So many 
	    <span style="color:red;">c</span>
	    <span style="color:orange;">o</span>
	    <span style="color:yellow;">l</span>
	    <span style="color:green;">o</span>
	    <span style="color:blue;">r</span>
	    <span style="color:purple;">s</span>
    !</p>
    
{% endblock %}    
    
{% block body_block %}
	<div class="hero-unit">
		<h1>About Rango</h1>
		This is <strong>Rango's about page</strong>.<br />
		
		You've visited the site on <strong>{{ visits }} occasion(s)</strong>.<br />
		
		Here's a picture of Crayons!<br />
		<img alt="Picture of Crayons" src="/media/img/crayons_lg.jpg" width="500px"/>
	</div>
{% endblock %}