{% extends 'rango/base.html' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body_block %}
<div class="hero-unit">
	<h1>
		{{ category.name }}
		{% if user.is_authenticated %}
			<button id="likes" data-catid="{{ category.id }}" class="btn btn-mini btn-default" style="width:60px;">
				<span class="pull-left">Like</span>
				<span id="like_count" class="label label-info pull-right">{{ category.likes }}</span>
			</button>
		{% endif %}
	</h1>
	{% if category %}
		{% if pages %}
			<ul>
			{% for page in pages %}
				<li>
					<span class="label label-info">{{ page.views }}</span>
					<a href="{{ page.url }}">{{ page.title }}</a>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>No pages currently in category.</strong>
		{% endif %}
		
		{% if user.is_authenticated %}
			<a href="/rango/category/{{ category.id }}/add_page/">Click here</a> to add a new page.
		{% endif %}
	{% else %}
		The specified category {{ category.name }} does not exist!
	{% endif %}
</div>
{% endblock %}