{% extends 'rango/base.html' %}

{% block header_block %}

    <h1>Rango says...
    {% if user.is_authenticated %}
    	hello {{ user.username }}!
    {% else %}
    	hello world!
    {% endif %}
	</h1>
	
{% endblock %}

{% block body_block %}
<div class="hero-unit">
	<h1>Ready to Rango</h1>
	<p>Find, Add, Share and Rango useful links and resources.</p>
</div>

<div class="row-fluid">
	
	<div class="span6">
		<h2>Top Five Pages</h2>
		{% if pages %}
			<ul>
				{% for page in pages %}
					<li><a href="{{ page.url }}">{{ page.title }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>No pages at present.</strong>
		{% endif %}
	</div>
    
<!--     <footer>
		<script>
		  CoinWidgetCom.go({
		    /* make sure you update the wallet_address or you will not get your donations */
		    wallet_address: "DJNt9yt6wYhWudWrS4KF5DUzYGigLX598E"
		    , currency: "dogecoin"
		    , counter: "amount"
		    , alignment: "al"
		    , qrcode: true
		    , auto_show: false
		    , lbl_button: "Donate"
		    , lbl_address: "Tip Dogecoin to this Address:"
		    , lbl_amount: "DOGE"
		  });
		</script>
    </footer>
 -->
{% endblock %}